@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&display=swap');

@font-face {
    font-family: pixel;
    src: url(assets/VCRosdNEUE.ttf);
}


body {
    /* font-family: pixel; */
    font-family: Arial, sans-serif;
    font-weight: 400;
    background-color: #00807F;
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: 600;
}


.image-window {
    background-color: #C6C6C6;
    /* width: 324px; */
    width: 80%;
    height: 100%;
    padding: 0px 10px 10px 10px;
    /* padding-top: 10px; */
    /* box-shadow: inset 1px 1px white, 2px 2px black; */
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.taskbar {
    background-image: linear-gradient(to right, #000080, #009FE4);
    width: 106.5%;
    display: flex;
    justify-content: left;
    padding-inline: 5px;
    text-align: center;
}

.skill-taskbar {
    background-image: linear-gradient(to right, #000080, #009FE4);
    width: 100%;
    display: flex;
    justify-content: left;
    padding-inline: 5px;
    text-align: center;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.inner-container {
    background-color: #C6C6C6;
    margin: 5%;
    /* padding: 0px; */
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 75%;
    width: 75%;
}

/* navbar-brand {
    font-family: sans-serif;
    font-weight: 800;
}*/

#scan,
#bezel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    pointer-events: none;
}

#scan {
    opacity: 20%;
}

#bezel {
    opacity: 100%;
}

.content {
    padding: 30px;
    /* text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(0, 0, 255), 0 0 0.2em rgb(0, 255, 4); */
}

.nav-item {
    /* color: #212529; */
    /* font-family: pixel; */
    font-weight: 400;
}

.navbar-nav {
    /* transform: translateX(1150px); */
    /* color: #212529; */
    font-family: sans-serif;
    font-weight: 800;
}

.navbar .nav-link:hover {
    color: #639bff !important;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column;
    justify-content: center; */
    padding-top: 70px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#home {
    background-image: url(assets/clouds.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    padding: 12px 32px;
    font-weight: 800;
    /* font-family: sans-serif !important; */
}

.btn-primary {
    background-color: #C6C6C6;
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    /* border-color: #7300bf; */
    color: #000;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.btn-secondary {
    margin-inline-start: 8px;

}

#project-title {
    text-align: center;
}

.bg-base {
    background-color: #C6C6C6;
}

.service {
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #000;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;

    .iconbox{
        /* align-self: stretch; */
        margin: 5px;
        flex-grow: 1;
    }

    .html-css-icon{
        flex-direction: row;
    }
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 #838383;
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #C6C6C6;
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #1b2631;
}

.modal-body {
    color: #212529;
}

footer {
    background-color: #212529;
}

.social-icons a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2631;
    color: #838383;
    border-radius: 100px;
    font-size: 24px;
}

.mb-0 {
    text-decoration: none;
    color: white;
    font-weight: 800;

    a {

        text-decoration: none;
    }
}